body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.calculator {
    background-color: #333;
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 350px;
    text-align: center;
}

.calculator input[type="number"] {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
}

.calculator button {
    padding: 10px 20px;
    background-color: #0066cc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.calculator button:hover {
    background-color: #005bb5;
}

.input-fields {
    margin-top: 15px;
}

.result-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.result-box {
    background-color: #444;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.result-box span {
    font-weight: bold;
    color: #01e577;
}

.result-box.overround {
    color: #ff4d4d; /* Color rojo para el Overround */
}
